@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.custom-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  transition: all 300ms;
}
.custom-scrollbar:hover {
  scrollbar-color: #a1a1a155 transparent;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  border-left: 2px solid transparent;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0 1px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #229595;
  border-radius: 4rem;
}
.cm-scroller {
  scrollbar-color: transparent #7d8799;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  transition: all 300ms;
}
.cm-scroller::-webkit-scrollbar {
  height: 9px;
  border-left: 2px solid transparent;
}
.cm-scroller::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0 1px;
}
.cm-scroller::-webkit-scrollbar-thumb {
  background-color: #7d8799;
  border-radius: 4rem;
}

.peer~.block {
  background-color: #aaa;
}
.peer:checked~.dot {
  background-color: #f9f871;
  background-color: #6b21a8;
  transform: translate(100%);
}
.peer:checked~.block {
  background: linear-gradient(270deg, #62a5fb, #a45bf7);
}

.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}

.shadow {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}



#contact-info-links .delete-link {
  margin-left: auto;
}

#contact-info-links .delete-link:hover {
  animation: wiggle .15s ease;

}

#resumeUI {
  display: flex;
  flex-direction: column;
}




@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(10deg);
  }

  85% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
.text-shine {
  animation: textShine 3s ease-in-out infinite alternate;
}



@media print {
  @page {
    size: 210mm 297mm;
    size: A4;
    margin: 0;
  }

  * {
    shape-rendering: geometricPrecision;
    image-rendering: crisp-edges;
    text-rendering: optimizeLegibility;
  }
}




input[type=range] {
  position: relative;
  display: flex;
  height: 2rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 88rem;
  overflow: hidden;
  background-color: transparent;
}
input[type=range]::-moz-range-track {
  background: rgba(218, 165, 32, 0);
  height: 100%;
  border-radius: 3rem;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #22222200;
  height: 100%;
  border-radius: 3rem;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background-color: rgb(107 33 168);
  border-radius: 88rem;
  cursor: pointer;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 2rem;
  height: 2rem;
  background-color: rgb(107 33 168);
  border-radius: 88rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}


.select-control, .select-option {
  cursor: pointer !important;
}
.select-control {
  border-radius: 0rem !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  background: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.select-control > div {
  padding: 0rem 1rem !important;
}
.select-control > div:last-of-type {
  padding: 0 !important;
}
.select-menu { 
  overflow: hidden; border-radius: .5rem !important;
}

.select-option:hover {
  background-color: #263f3fb0 !important;
  color: white !important;
}
.select-option.focused {
  background-color: #263f3fb0 !important;
  color: white !important;
}
.select-option.selected {
  background-color: #263f3f !important;
  color: white !important;
}