@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.custom-scrollbar {
  scrollbar-color: #229595 transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #229595;
  border-radius: 4rem;
}



.bg-E5E7EB { background-color: #E5E7EB; }

.peer ~ .block {
  background-color: #aaa;
}
.peer:checked ~ .dot {
  background-color: #f9f871;
  transform: translate(100%);
}
.peer:checked ~ .block {
  background-color: #263f3f;
}



.ltr { direction: ltr; }
.rtl { direction: rtl; }


.shadow {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}


#control {
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 30rem;
  width: 25rem;
  background-color: #263f3f;
  color: silver;
  border-radius: 2rem;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;

  transition: all .4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 50ms, background 50ms;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
  overflow: hidden;
}
#control.collapsed {
  height: 4rem;
  width: 4rem;
  display: grid;
  place-content: center;
  cursor: pointer;
}
@media print {
  #control {
      display: none;
  }
}





#control .list-wrapper {
  padding: 3rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#control .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 200;
  color: #eee;
  flex: 1;
  justify-content: center;
  margin: auto;
}
#control .list li {
  display: flex;
  position: relative;
  top: 0;
  cursor: pointer;
  transition: all .25s ease var(--delay, .3s),
              opacity .25s ease var(--delay, .3s),
              top .25s ease var(--delay, .3s);
}
#control .list li span {
  position: relative;
  transition: all .25s ease;
  left: 0;
}
#control .list li.hidden {
  opacity: 0;
  transition: all .25s ease, opacity .25s ease, top .25s ease 0s;
}
#control .list li.visible {
  cursor: initial;
}
#control .list li.visible span {
  left: 50% !important;
  transform: translateX(-50%);
}
#control .list li.visible div {
  display: none;
}
#control .list li div {
  height: 1px;
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: #eee;
  transition: all .3s ease-out;
}
#control .list li:hover div {
  width: 100%;
}

/* ************************************************ */

#control #content {
  --height: 4.5rem;
  position: absolute;
  top: var(--height);
  height: calc(100% - var(--height));
  width: 100%;
  flex: 1;
  background-color: #eee;
  border-radius: 2rem;
  transform: scale(0);
  opacity: 0;
  transition: all .3s ease-in-out;
  transform-origin: bottom center;
  overflow: hidden;
}
#control #content.visible {
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease-in-out .15s;
}

/* #control textarea {
  padding: .5rem 1rem;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.1rem;
  font-weight: 300;
  color: #333;
  outline: none;
  background-color: transparent;
} */


#contact-info-links .delete-link {
  margin-left: auto;
}
#contact-info-links .delete-link:hover {
  animation: wiggle .15s ease;
}
#resumeUI {
  max-width: 210mm;
  min-width: 210mm;
  width: 210mm;
  min-height: 297mm;
  display: flex;
  flex-direction: column;
}
.me {
  height: 40mm;
  background-color: beige;
  display: flex;
}
.content { flex: 1; }
.side {
  width: 65mm;
  background-color: azure;
}
#resumeUI > .content .main {
  flex:  1;
  background-color: rgb(250, 172, 78);
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
 10% { transform: rotate(0deg); }
 45% { transform: rotate(10deg); }
 85% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}



@media print {
  @page {
      size: A4;
      margin: 1mm;
  }
}